body{
  max-width : 400px
}
.form{
  margin : auto;
}

.form_line{
  display:block;
  width:100%
}
.form_line > label{
  display : inline-block;	
  width : 100px
}
.form_line > input {
  width : 150px
}
